.card-header {
    background-color: green;
    color: whitesmoke;
    text-align: center;
}

.card {
    background-color: #312e2b;
    color: whitesmoke;
    border-color: gray;
}


.color-alert {
    color: whitesmoke;
    font-size: 15px;
    font-style: bold;
    background-color: #DC3545;
    border: 2px solid gray;
}

.flex-c {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-primary {
    font-size: medium;
    background-color: green;
    border-color: gray;
}

.btn-primary:hover {
    background-color: darkgreen;
}

.btn-light {
    font-size: medium;
    border-color: gray;
}

.f-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.c-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:750px) {
    label {
        text-align: center;
    }

    input {
        font-size: 13px;
    }
}

[class*="col-"] {
    width: 100%;
}


[class*="coll-"] {
    width: 90%;
}


@media(min-width: 750px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

}